extends layout

block content
    .w3-card-4

        header.w3-container.w3-teal
            h1
                span Página de Entidade #{ent} - #{id}
        .w3-container
            table.w3-table-all
                tr
                    th idcontrato
                    th objectoContrato
                    th dataCelebracaoContrato
                    th precoContratual
                    th NIPC_entidade_comunicante
                    th entidade_comunicante
                each contrato in lContratos
                    tr
                        td= contrato._id
                        td= contrato.objectoContrato
                        td= contrato.dataCelebracaoContrato
                        td= contrato.precoContratual
                        td= contrato.NIPC_entidade_comunicante
                        td= contrato.entidade_comunicante
                span Preço total = #{preco}
        footer.w3-container.w3-blue
        address 
            span Gerado por Rodrigo - [
            a(href="/") Voltar
            span ]